.nav-item:hover {
    /* font-size: 1.2% !important; */
    color: teal !important;
}

.section-heading {
    margin-top: 1rem !important;
}

.whoami{
    color: whitesmoke
}

.fab {
    color: white;
}