html {
  /* padding will stretch the page 
    prevents from happening horizontal scroll bar*/
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh; /*stretch the height 100%*/
  background-color: gray;
}
